@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}





.header {
    background-color: #fff;
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 500px;
    height: 200px;
    margin-right: 10px;
}

.header ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.header li {

    padding: 10px;
    height: 100px;
    margin: 10px;
}

.header a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.header a:hover {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    text-emphasis: 10px;
    color: rgb(231, 160, 67);
}






.hero {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.hero .content {
    text-align: center;
    color: #0c0c0c;
}



.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.hero p {
    font-size: 2em;
    line-height: 1.5;
    animation: fadeInUp 1.5s ease-in-out;
}




/*text animation */


.text-animation {
    padding: 50px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUP 1s ease-in-out 0.5s forwards;
}

@keyframes fadeInUP {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    transform: translateY(20px);
    text-align: center;
    border: 1px #000;
    animation: fadeInUp 1s ease-in-out 2s forwards;
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



footer {

    background-color: #eee;
    text-align: center;
    padding: 10px;
}




@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header ul {
        margin-top: 20px;
    }

    .logo img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .header a {
        font-size: small;
        font-weight: bolder;

    }

    .header a:hover {
        color: chocolate;
    }

    .hero {
        margin-top: 84px;
        height: auto;
    }

    .hero h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 1em;
    }

    .benef {
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: small;
    }

    .benef h2 {
        font-size: 25px;
    }

    #typewriter-container {
        font-size: 10px;
        font-size: smaller;
        text-align: center;
    }

    .cont {

        flex-direction: column-reverse;
        font-size: small;
        font-size: 20px;
    }

    .cont p {
        font-size: small;
    }

    .cont h4 {
        font-size: small;
    }

    .cont img {
        width: 200px;
        height: 100px;
    }

}